{% extends 'review/base.html' %}

{% block content %}


<div class="container" >
    <div class="row">
        <div class="card" style=" display:flex;justify-content: center; align-items: center;">
            <div class="card-body" >
              <h4 class="card-title">{{ review.user.username }}</h4>
              <h5 class="card-text">Are you Sure you want to delete?</h5>
              <a href="{% url 'showReview' %}" class="btn btn-primary">BACK</a>
              <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
              </form>
            
            </div>
          </div>
    </div>
</div>
{% endblock %}